header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: rgb(103, 150, 189);

}
.app_name{
    margin: 0;
    padding: 0 10px;
    font-weight: 900;
    size: 24px;
    color: rgb(79, 12, 185);
}
nav{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
    gap: 5px;
}
nav>a{
    padding: 10px;
    size: 20px;
    text-decoration: none;
    color: black;
}
nav>a:hover{
    background-color: rgb(116, 116, 226);
}